.h_100vh {
  height: 100vh;
}

.min_h_100vh {
  min-height: 100vh;
}

.h_100 {
  height: 100%;
}

.max_h_2 {
  max-height: 2rem;
}

.max_h_4 {
  max-height: 4rem;
}

.h_40_p {
  height: 40%;
}

.h_90vh {
  height: 90vh;
}

.h_280px {
  height: 280px;
}

.h_40 {
  height: 2.5rem;
}

.h_24 {
  height: 1.5rem;
}

.min_h_100 {
  min-height: 100%;
}

.h_fit_content {
  max-height: fit-content;
}