.p_0 {
  padding: 0 !important;
}

.p_1 {
  padding: 0.25rem;
}

.p_2 {
  padding: 0.5rem;
}

.p_3 {
  padding: 0.75rem;
}

.p_4 {
  padding: 1rem;
}

.p_5 {
  padding: 1.25rem;
}

.p_6 {
  padding: 1.5rem;
}

// PADDING Y
.py_2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py_4 {
  padding: 1rem 0 !important;
}

// PADDING X
.px_0 {
  padding-left: 0;
  padding-right: 0;
}

.px_2 {
  padding: 0 0.5rem;
}

.px_4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

// PADDING LEFT
.pl_0 {
  padding-left: 0;
}

.pl_1 {
  padding-left: 0.25rem;
}

.pl_2 {
  padding-left: 0.5rem;
}

.pl_3 {
  padding-left: 0.75rem;
}

.pl_4 {
  padding-left: 1rem;
}

// PADDING LEFT
.pr_0 {
  padding-right: 0;
}

.pr_1 {
  padding-right: 0.25rem;
}

.pr_2 {
  padding-right: 0.5rem;
}

.pr_3 {
  padding-right: 0.75rem;
}

.pr_4 {
  padding-right: 1rem;
}

// PY PX
.py1_px_2 {
  padding: 0.25rem 0.5rem;
}

// .px_4_py_2{
//   padding: 1.5rem 0.5rem;
// }

.pr_4 {
  padding-right: 1rem;
}

.pb_4 {
  padding-bottom: 1rem;
}

.pb_2 {
  padding-bottom: 0.5rem;
}