/* POSITION UTILITY CLASSES */

/* Position */
.static {
  position: static;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

// FLOAT
.f_right {
  float: right;
}
