@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");

// Font-families
$font-primary: "Mulish", sans-serif;

// Colors
$primary: rgb(28, 26, 139);
$secondary: rgb(58, 53, 201);
$bgPrimary: rgba(24, 24, 24, 1);
$white: rgba(255, 255, 255, 1);
$success: green;
$danger: rgb(219, 0, 50, 1);
$grey: rgb(50, 50, 50);
$info: rgb(173, 216, 230);
$warning: rgb(255, 255, 0);
$lightGray: lightgray;