.w_25 {
  width: 25%;
}

.w_30 {
  width: 30%;
}

.w_50 {
  width: 50%;
}

.w_75 {
  width: 75%;
}

.w_100 {
  width: 100%;
}

.w_8 {
  width: 2rem;
}

.w_max_content {
  width: max-content !important;
}

.min_w_max_content {
  min-width: max-content !important;
}

.min_w_80 {
  min-width: 5rem !important;
}

.min_w_192 {
  min-width: 12rem;
}

// overflow
.overflow_hidden {
  overflow: hidden;
}